@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1321px;
    margin-top: 20px;
}
/* Banner styling starts */
.top-banners{
    background-color: black;
    border-radius: 20px;
}
.banners{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner{
    width: 50%;
    padding: 0 50px;
}
.banner h1, p{
    color: white;
    padding: 0 25px;
}
.banner h1{
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
}
.banner p{
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
}
.btn{
    color: white;
    background-color: crimson;
    padding: 12px 25px;
    margin: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
}
.btn i{
    margin-left: 10px;
}
.banner img{
    width: 100%;
}
/* Banner styling ends */
/* details design-left starts */
.details{
    margin-top: 70px;
    display: flex;
}
.match-info{
    width: 25%;
    height: 380px;
    background-color: black;
    border-radius: 10px;
    margin-right: 20px;
}
.match-btn{
    padding: 20px 30px;
    font-size: 15px;
    background-color: white;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    
}
.match-info a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-top: 30px;
}
a.red{
    background-color: crimson;
    color: white;
}
/* details design-left starts */ 
/* single player style started */
.trasnfer-info{
    width: 75%;
}
.players-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.single-player{
    border: 1px solid rgb(236, 234, 234);
    padding: 20px;
}
.single-player img{
    width: 100%;
}
.single-player button{
    padding: 7px 12px;
    font-weight: 700;
}
.single-player p{
    color: black;
    margin: 15px 0;
}
.time-info i{
    margin-left: 30px;
}
/* single player style ended */
/* footer style started */
footer{
    background-color: black;
    padding: 50px;
}
.footer-text{
    margin: 10px 100px;
    padding: 30px 30px;
    color: rgb(226, 224, 224);
}
.footer-text h1{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-weight: 700;
}
hr{
    margin: 40px 0;
}
.nav ul{
    list-style-type: none;
}
.nav li{
    display: inline-block;
    margin-left: 30px;
}
.nav li a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px 20px;
}
/* footer style ended */
/* fixture style */
.fixtures{
    border: 1px solid rgb(236, 233, 233);
    border-radius: 5px;
}
.fixture{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding: 40px 15px;
}
.fixture img{
    width: 100%;
    margin: 5px;
}
.fixture h2, h5{
    text-align: center;
    padding: 5px 12px;
}
/* fixture style ended */

/* make website responsive */
.match-info-responsive{
    display: none;
}
.banners-responsive{
    display: none;
}
@media only screen and (max-width: 576px){
    main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .banners{
        display: none;
    }
    .banners-responsive{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banners-responsive h3, p{
        color: white;
        text-align: center;
    }
    .banners-responsive h3{
        font-size: 20px;
        font-weight: 700;
    }
    .banners-responsive p{
        font-size: 15px;
        font-weight: 400;
    }
    .btn{
        padding: 10px 40px;
    }
    .btn i{
        text-align: center;
        font-size: 10px;
        padding
    }
    .banners-responsive .banner img{
        width: 200%;
    }
    .match-btn{
        border: 1px solid rgb(209, 208, 208);
        margin: -40px
    }
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .match-info{
        display: grid;
        background-color: white;
    }
    .players-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        width: 100%;
    }
    .footer-text{
        text-align: center;
        /* margin-right: 70px; */
    }
    hr{
        width: 200px;
    }
}
@media only screen and (min-width: 577px) and (max-width: 990px){
    .container{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    .banner h1{
        font-size: 50px;
        line-height: 50px;
    }
    .banner img{
        width: 100%;
        margin-right: 50px;
        padding-right: 30px;
    }
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .match-info{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 1px solid rgb(230, 224, 224);
        width: 100%;
    }
    .match-info p{
        border: 1px solid rgb(230, 224, 224);
        display: inline-block;
        margin: 5px;
        height: 120px;
    }
    .players-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
